*{

 margin-right: 0;
 
    }

.CajonCentral{
    background:#D6DBDF ;
    border: 20px  #2980B9   solid;
border-radius: 10px;
}

.divCabezera{
    background-color:#EBEDEF ;


}
.letraCabezera{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
}

.letraCabezera-2{
    margin-top: 30px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
}



.imgLogo{
   
        margin: 100px;
        padding: 200px solid ;
        background-color: #EBEDEF ;
     }

 .Logo{
    width: 200px;
    height: 150px;
    border: 20px #7FB3D5 solid;
    border-radius: 15px;
display: block;
margin: auto;

 }

 .contenidoBody{
display: flex;
justify-content: space-between;
align-items: center;
border: 20px #2C3E50 solid ;
margin: auto;

 }


 .cajon0{
    border: 5px   solid #5499C7;
    width: 100px;
    height:200px;
  
 }


.tvLogo-General{
    width: 100%;
    height:200px;
}



 @media screen and (max-width:800px){
    .contenidoBody{
        display: grid;
        flex-wrap:wrap;
        margin: auto;
       
        grid-gap:20px;
        /*Numero de columnas vertical*/
        grid-template-columns: repeat(2, 1fr);
      
        justify-content: space-between;
        align-items: center;
        border: 20px #2C3E50 solid ;
         }

       
         .cajon0{
            margin: auto;
            border: 5px   solid #5499C7;
            width: 50%;
            height:50px;
            
         }
        
         .tvLogo-General{
            width: 100%;
            height:50px;
        }
        


 }


 @media screen and (max-width:470px){


    .letraCabezera{
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }

    .imgLogo{
        display: block;
        margin: auto;
      
        background-color: #EBEDEF ;
     }



    .Logo{
        width: 150px;
        height: auto;
        border: 20px #7FB3D5 solid;
        border-radius: 15px;
    display: block;
    margin: auto;
    
     }
    


    .contenidoBody{
        display: grid;
        flex-wrap:wrap;
        margin: auto;
       
        grid-gap:20px;
        /*Numero de columnas vertical*/
        grid-template-columns: repeat(2, 1fr);
      
        justify-content: space-between;
        align-items: center;
        border: 20px #2C3E50 solid ;
         }

       
         .cajon0{
            margin: auto;
            border: 5px   solid #5499C7;
            width: 68px;
            height:50px;
            
         }
        
         .tvLogo-General{
            width: 100%;
            height:50px;
        }
        
        *{

            margin-right: 0;
            
               }
           

 }